<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TejoStatsCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TejoStatsCore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Styles/Tejo.css">
</head>
<body>
<header>
    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">TejoStatsCore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <div class="dropdown-container">
                <div class="dropdown">
                    <label for="tejoRoeselare">Tejo Roeselare:</label>
                    <select id="tejoRoeselare" class="form-control" onchange="navigateToRoeselare()">
                        <option value="">Selecteer een pagina</option>
                        <option value="/Roeselare">Bekijk gegevens tussen 2 datums</option>
                        <option value="/Irregular8800">Controleer op onregelmatigheden</option>
                        <!-- Voeg hier meer opties toe als je meer pagina's hebt -->
                    </select>
                </div>
                <div class="dropdown">
                    <label for="tejoIzegem">Tejo Izegem:</label>
                    <select id="tejoIzegem" class="form-control" onchange="navigateToIzegem()">
                        <option value="">Selecteer een pagina</option>
                        <option value="/Izegem">Bekijk gegevens tussen 2 datums</option>
                        <!-- Voeg hier meer opties toe als je meer pagina's hebt -->
                    </select>
                </div>
            </div>
        </div>
        </div>
    </nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TejoStatsCore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
        function navigateToRoeselare() {
            var selector = document.getElementById('tejoRoeselare');
            var selectedValue = selector.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }

        function navigateToIzegem() {
            var selector = document.getElementById('tejoIzegem');
            var selectedValue = selector.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>