<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TejoStatsCore</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel ="stylesheet" href="~/Styles/MainPage.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

</head>
<body>
<header class="header1">

        <nav class="navbar">
            <a class="navbar-brand" asp-area="" asp-page="/Index">TejoStatsCore</a>

            <div class="dropdown-container">
                
                    <label class="tejo" for="tejoRoeselare">Tejo Roeselare:</label>
                    <select id="tejoRoeselare" class="form-control" onchange="navigateToRoeselare()">
                        <option value="">Selecteer een pagina</option>
                        <option value="/Roeselare">Bekijk gegevens tussen 2 datums</option>
                        <option value="/PerJaar8800">Bekijk gegevens per kalenderjaar</option>
                        <option value="/Irregular8800">Controleer op onregelmatigheden</option>
                    </select>
            </div>

                <div class="dropdown-container">
                    <label class="tejo" for="tejoIzegem">Tejo Izegem:</label>
                    <select id="tejoIzegem" class="form-control" onchange="navigateToIzegem()">
                        <option value="">Selecteer een pagina</option>
                        <option value="/Izegem">Bekijk gegevens tussen 2 datums</option>
                        <option value="/PerJaar8870">Bekijk gegevens per kalenderjaar</option>
                        <option value="/Irregular8870">Controleer op onregelmatigheden</option>
                    </select>
                </div>

                <div class="dropdown-container">
                    <label class="tejo" for="beide">Tejo Roeselare & Izegem:</label>
                    <select id="BeideTejo" class="form-control" onchange="navigateToBeide()">
                        <option value="">Selecteer een pagina</option>
                        <option value="/Compare">Bekijk de gegevens tussen 2 datums per Tejohuis</option>
                    </select>
                </div>

                <button id="download-pdf" class="download-button">Opslaan als PDF</button>
            
        </nav>

</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TejoStatsCore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
        function navigateToRoeselare() {
            var selector = document.getElementById('tejoRoeselare');
            var selectedValue = selector.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }

        function navigateToIzegem() {
            var selector = document.getElementById('tejoIzegem');
            var selectedValue = selector.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    </script>

    <script>
        document.getElementById("download-pdf").addEventListener("click", function () {
            const { jsPDF } = window.jspdf;

            html2canvas(document.body, {
                onrendered: function (canvas) {
                    var imgData = canvas.toDataURL('image/png');
                    var pdf = new jsPDF('p', 'mm', 'a4');
                    var imgWidth = 210; // A4 width in mm
                    var pageHeight = 297; // A4 height in mm
                    var imgHeight = canvas.height * imgWidth / canvas.width;
                    var heightLeft = imgHeight;

                    var position = 0;

                    pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                    heightLeft -= pageHeight;

                    while (heightLeft >= 0) {
                        position = heightLeft - imgHeight;
                        pdf.addPage();
                        pdf.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                        heightLeft -= pageHeight;
                    }

                    pdf.save("pagina.pdf");
                }
            });
        });
    </script>




@await RenderSectionAsync("Scripts", required: false)
</body>
</html>