@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div clas="text-center">
    <p>
        Navigeer in de balk hierboven naar het Tejo huis waarvan je de gegevens wil opzoeken.<br/>
        Hieronder vind je wat algemene informatie over de data die je kan opvragen.
    </p>
</div>
<div class="list-group">
    <ul>
        <li><b>Bekijk de gegevens tussen twee datums:</b>
            <br/>
            Deze pagina laat je toe om de gegevens van een Tejo huis op te vragen tussen twee datums.
        </li>
        <li><b>Bekijk gegevens per kalenderjaar:</b>
            <br/>
            Deze pagina laat je toe om de gegevens van een Tejo huis op te vragen tussen per kalenderjaar (1/1/20XX - 31/12/20XX).)
        </li>
        <li><b>Controleer op onregelmatigheden:</b>
            <br/>
            Deze pagina laat je toe om in de planningstool te zoeken naar onregelmatigheden, zoals ontbrekende dossiers of afspraken die niet in de planningstool geregistreerd staan.
        </li>
    </ul>
</div>

